build/bin/
build/x64
build/obj/
build/.vs
libs/openvr/samples
libs/openvr_newer
tools/sort_points/bin/
tools/sort_points/obj/
tools/sort_points/.vs
tools/sort_points/Sort_Frugal/Debug
tools/sort_points/Sort_Frugal/Release
tools/sort_points/Sort_Frugal/.vs
imgui.ini
build/Release/laszip.exp
build/Release/laszip.lib
build/Debug/*
build/laszip.dir
build/laszip/CMakeFiles/
build/laszip/laszip.dir/
build/laszip/Release/
build/laszip/Debug/
build/Release/laszip.dll
build/
build - Kopie/
tools/heightmaps
tools/ca13_heightmaps_2023.12.22.zip
tools/ca13_heightmaps_2024.01.05_partial/
tools/ca13_heightmaps_2024.01.05_partial.zip
report.txt
tools/chunkPoints.csv
build - Kopie (2)/
